body{
    background-color:lightblue;
    font-family: cursive;
    backface-visibility: visible;
 
}


.immg{
    border-radius: 50px;
    box-sizing: border-box;
    border: solid;
}



.prevention{
    text-align: center;
    margin-top: 50px;
    border-bottom: grey solid;
}

.text{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    transition: 0.5s;
    animation-name: set;
    animation-duration: 2.5s ;


}


#nav{
    text-align: center;
  animation-name: set;
  animation-duration: 1s;
  border-bottom: solid darkgray;
  font-family: cursive;
}

h1{
    color: blue;
    font-weight: 900;
    font-family: cursive ;

    
}
.text:hover{
font-size: 25px;
font-weight: 900;
}

@keyframes set{
    from{transform:translatex(-1000px)}
    to{transform:translateX(0) ;}

}

img{
    animation-name: set;
    animation-duration: 1.5s ;
    transition: 0.5s;
}

